.box-modal {
	position: relative;
	width: auto;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, .3);
	border-radius: 6px;
	margin: 0 auto;
	padding-top: 10px;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }
table.arcticmodal-container_i {
	background: transparent;
}

.cus_input {padding: 8px !important;}
.cus_form_sub {
	text-align: right;
}
.cus_form_inputs {
	text-align: center;
	margin-bottom: 24px;
}
.cus_form_inputs label {
	text-align: left;
	font-family: 'Raleway-Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
.button_primary_form {
	background-color: #dc324d;
	color: #fff;
	font-weight: normal;
	font-family: 'Raleway-Bold', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	letter-spacing: 0em;
	box-shadow: 0 0 16px rgba(0,0,0,0.24);
}

@media (max-width: 768px) {
	.box-modal {
		width: 275px;
	}
	input.cus_input {
		width: 245px;
	}
}